@font-face {
  font-family: 'Proxima_Nova_Regular';
  src: url('~assets/fonts/Proxima-Nova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima_Nova_Bold';
  src: url('~assets/fonts/Proxima-Nova-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima_Nova_Semibold';
  src: url('~assets/fonts/Proxima-Nova-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
